# Use the Google style in this project.
BasedOnStyle: Google

# int& format
DerivePointerAlignment: false
PointerAlignment: Left

# const value
QualifierAlignment: Left

# Custom stuff for us:
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
# There shouldn't be short empty loops, but fine
AllowShortLoopsOnASingleLine: true
